<span class="select2-container" [ngClass]="getContainerThemeClass()" [class.select2-container--open]="true">
  <span id="select2-dropdown" class="select2-dropdown select2-dropdown--below" dir="ltr">
    <span *ngIf="!multi" class="select2-search select2-search--dropdown" [class.select2-search--hide]="shouldHideSearchBox()">
      <input class="select2-search__field"
        type="search" tabindex="0"
        autocomplete="off"
        autocorrect="off"
        autocapitalize="off"
        spellcheck="false"
        role="textbox"
        [(ngModel)]="search">
    </span>
    <span class="select2-results">
      <ul class="select2-results__options" role="tree" id="select2-results" aria-expanded="true" aria-hidden="false">
        <li *ngFor="let option of options | ngxSelect2OptionFilter: search:minimumResultsForSearch:minimumInputLength:maximumInputLength"
          class="select2-results__option"
          [class.select2-results__option--highlighted]="option.highlighted"
          role="treeitem"
          [attr.aria-selected]="option.selected"
          [attr.aria-disabled]="option.disabled ? option.disabled : null"
          (mouseover)="onOptionHover(option)"
          (mousedown)="onOptionClick(option)">
          {{option.value}}
        </li>
        <li *ngIf="shouldShowNoResultsMessage()"
          role="treeitem"
          aria-live="assertive"
          class="select2-results__option select2-results__message">
          {{getNoResultsMessage()}}
        </li>
        <li *ngIf="shouldShowInputTooShortMessage()"
          role="treeitem"
          aria-live="assertive"
          class="select2-results__option select2-results__message">
          {{getInputTooShortMessage()}}
        </li>
        <li *ngIf="shouldShowInputTooLongMessage()"
          role="treeitem"
          aria-live="assertive"
          class="select2-results__option select2-results__message">
          {{getInputTooLongMessage()}}
        </li>
      </ul>
    </span>
  </span>
</span>
