<span appNgxSelect2Ex [service]="ngxSelect2ExService" class="select2 select2-container" [class.select2-container--below]="!disabled"
  [class.select2-container--open]="isOpen" [ngClass]="getContainerThemeClass()" [class.select2-container--focus]="isInFocus"
  [class.select2-container--disabled]="disabled" dir="ltr">
  <span class="selection">
    <span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" [attr.aria-expanded]="isOpen"
      tabindex="0" aria-labelledby="select2-container" aria-owns="select2-results">
      <span class="select2-selection__rendered" id="select2-selection-container" [title]="getTitleTooltipText()">
        <span *ngIf="shouldShowPlaceholder()" class="select2-selection__placeholder">{{placeholder}}</span>
        <span *ngIf="shouldShowClearSelectionButton()" class="select2-selection__clear" (click)="clearSelection()">×</span>
        {{selection[0]?.value}}
      </span>
      <span class="select2-selection__arrow" role="presentation">
        <b role="presentation"></b>
      </span>
    </span>
  </span>
  <span class="dropdown-wrapper" aria-hidden="true"></span>
</span>